src/main/app/choice-routing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <file:connector name="File" autoDelete="false" streaming="true" validateConnections="true" doc:name="File" outputAppend="true"/>
    <flow name="choice-routingFlow">
        <file:inbound-endpoint path="src/main/resources/in" connector-ref="File"  responseTimeout="10000" doc:name="File" pollingFrequency="1000000"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="6151674e-8474-4680-880b-7c64a211d09e">
            <dw:input-payload doc:sample="sample_data\excel.xlsx" mimeType="application/xlsx"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	students: {
		(payload.Sheet1 map ((sheet1 , indexOfSheet1) -> {
			student_marks: {
				Sno: sheet1.sno as :number as :string {format: "#,###"},
				name: sheet1.name,
				marks: sheet1.marks as :number as :string {format: "#,###"}
			}
		}))
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <dw:transform-message doc:name="Transform Message" metadata:id="a5be521d-8cc5-49d3-a008-535a071297f7">
            <dw:input-payload doc:sample="C:\Users\nagaraju.kshathriya\Documents\student.xml" mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.students.*student_marks]]></dw:set-payload>
        </dw:transform-message>
        <foreach collection="#[payload]" doc:name="For Each">
            <set-variable variableName="marks" value="#[payload.marks]" doc:name="Variable"/>
            <set-variable variableName="pm" value="#['40']" doc:name="passing marks"/>
            <logger message="#[flowVars.marks &gt;= '40']" level="INFO" doc:name="Boolean Logging"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
students: 
{
	students_marks: payload
}]]></dw:set-payload>
            </dw:transform-message>
            <choice doc:name="Choice">
                <when expression="#[flowVars.marks &gt;= flowVars.pm]">
                    <file:outbound-endpoint path="src/main/resources/passed" outputPattern="student.xml" responseTimeout="10000" doc:name="Passed Students " connector-ref="File"/>
                </when>
                <when expression="#[flowVars.marks &lt;= flowVars.pm]">
                    <file:outbound-endpoint path="src/main/resources/failed" outputPattern="student.xml" responseTimeout="10000" doc:name="Failed Students" connector-ref="File"/>
                </when>
                <otherwise>
                    <logger message="#['Please enter your marks']" level="INFO" doc:name="Logger"/>
                </otherwise>
            </choice>
        </foreach>
    </flow>
</mule>
